{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">



<div class="content">
    {% for mes in messages %}

        {% if 'info' in mes.tags %}
    <div class="alert alert-danger" role="alert">
          {{ mes }}!
        </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
          {{ mes }}!
        </div>
    {% endif %}

    {% endfor %}
    <form action="login" method="POST">
            {% csrf_token %}
        <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" name="username" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" name="password1" class="form-control">
  </div>
  <button type="submit" class="btn btn-sm btn-primary">Sign in</button>

    </form>
</div>



{% endblock %}