
.content {
    margin:auto;
    width:400px;
}

h1 {
    color:;
}


@media (max-width:500px)
{
    body {
        margin:auto;
        width: 500px;
    }
    .content {
        margin:auto;
        width:300px;
    }

}