
.content {
    margin:auto;
    width:400px;
}


.indexContent2 {
    margin:auto;
    width:500px;
}

.indexContent3 {
    margin:auto;
    width:700px;
}


.indexContent {
    margin:auto;
    width:1300px;
}


h1 {
    color:;
}


@media (max-width:500px)
{
    body {
        margin:auto;
        width: 500px;
    }
    .content {
        margin:auto;
        width:300px;
    }

    .indexContent {
        margin:auto;
        width:300px;
    }
    .indexContent2 {
        margin:auto;
        width:300px;
    }

    .indexContent3 {
        margin:auto;
        width:300px;
    }

}